---
title: Daniel Tomlinson
---
<section class="home">
<h2>Hello</h2>

<p>I’m a software engineer based in London. A lot of my time is spent writing Swift and Objective-C. I also have an infrequently updated <a href="/blog">blog</a>. Formerly, I wrote for <a href="http://www.theguardian.com/profile/daniel-tomlinson">the</a> <a href="http://www.theguardian.com/technology/2014/mar/08/programming-saved-me-from-bullying">Guardian</a>.</p>

<h2>Work</h2>

<p>I am a software engineer who has primarily worked on iOS software since 2008. I really enjoy working on application internals, frameworks, and libraries (such as data persistence, networking, and caching), but am also experienced with UI level development with Auto/manual Layout and CoreAnimation.</p>

<p><b>I am currently unavailable for iOS consulting until April 2016.</b></p>

<p>You can find my resume <a href="https://represent.io/dantoml">here</a>.</p>
<p>If you'd like to hear more, then you can <a href="mailto:dan@tomlinson.io">email</a> me.</p>

<h2>Projects</h2>

<ul>
  <% projects().each do |project| %>
    <li><a href="<%= project['link'] %>"><%= project['name'] %></a>: <%= project['description'] %></li>
  <% end %>
</ul>

<p>You can find more projects on <a href="https://github.com/DanielTomlinson">GitHub</a>.</p>

<h2>Talks</h2>

<p>Below are a few of the talks I’ve given recently.</p>

<ul>
  <% talks().each do |talk| %>
    <li><%= talk['date'] %>: <a href="<%= talk['link'] %>"><%= talk['name'] %></a></li>
  <% end %>
</ul>

<h2>Blog</h2>

<p>Below are a few of the <a href="/blog">blog posts</a> I’ve published recently.</p>

<ul>
<% recent_articles(3).each do |article| %>
          <li><%= article.date.strftime('%d/%m/%Y') %>: <%= link_to article.title, article %></li>
<% end %>
</ul>

<h2>Contact Me</h2>

<p>If you wish to get in touch, then you can <a href="https://twitter.com/dantoml">tweet @dantoml</a>, or if it’s more private then <a href="mailto:dan@tomlinson.io">email dan@tomlinson.io</a>.</p>
</section>

<br />
<br />
<br />
